.naav {
  background-color: #e92727;
  border: none;
  color: #333;
  padding: 2px 15px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 10px 11px 14px rgba(243, 22, 22, 0.1);
}
.l {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 42px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  width: 80%;
  cursor: pointer;
}

.l > div:last-of-type > div:last-of-type {
  opacity: 0.6;
  font-size: 0.9em;
}
